*{
  text-decoration: none;
  margin: 0;
}

body {
  background: beige;
}

nav{
  background: lightblue;
  height: 80px;
}

nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

nav li {
  margin: 20px;
}

nav ul li {
  display: inline-block;
  margin: 30px;
  color: black;
}

nav a:hover{
  color: orange;
}

img {
  border-radius: 35px;
}
